@media (max-width: 1024px){
    .HeroSelectionList{
        transform: scale(0.9);
    }

    .CardContent{
        &:last-child{
            display: none !important;
        }

    }

    .TrendingCollection{
        transform: scale(1.1);
    }
}

@media (max-width: 1009px){
    .HeroSelectionList{
        transform: scale(0.8);
    }

    .TrendingCollection{
        transform: scale(0.9);
    }
}

@media (max-width: 900px){
    .HeroSelectionList{
        transform: scale(0.8);
    }
    .TrendingCollection{
        transform: scale(0.9);
    }


}

@media (max-width: 700px){
    .HeroSelectionList{
        transform: scale(0.7);
    }
    .TrendingCollection{
        margin-top: -200px;
        transform: scale(0.8);
    }


    .HeroSection{
        margin-top: -40px;
    }
}

@media (max-width: 620px){
    .HeroSelectionList{
        transform: scale(0.6);
    }

    .TrendingCollection{
        margin-top: -300px;
    }

}

@media (max-width: 550px){
    .HeroSelectionList{
        flex-direction: column;
        transform: scale(0.9);
        z-index: 0;
    }
    .HeroSection{
        margin-top:-50px;
    }
    
    .LeftHeroSection{
        order: 2;
    }
    .RightHeroSection{
        order: 1;
    }

    .CardContent{
        &:nth-child(2){
            display: none !important;
        }
    }
    .TrendingCollection{
        margin-top: -200px;
        transform: scale(1.1);
    }
}

@media (max-width: 480px){
    .HeroSelectionList{
        transform: scale(0.76);
    }
    .HeroSection{
        margin-top: -150px;
    }

    .TrendingCollection{
        transform: scale(1);
    }
}