.SignUpMain{
    @include SignUp-WalletPageMain;

    .LeftImageSignUp{
        @include   LeftImgSignUpWalletPage('../../../../assets/images/SignUpPageImg.png');

    }

    .SignUpDetails{
        @include WalletSignUpDetail;


        .SignUpForm{
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 330px;

            button{
                margin-top: 15px;
                @include ButtonWithImage(var(--call-to-action),
                                43px, 211px,   
                                12px, 20px, 20px, var(--font-size-base));
                width: 100%;
            }

            input{
                &::placeholder{
                    color: var(--background);
                }
                outline: none;
                width: 100%;
                box-sizing: border-box; 
                border: 2px solid #ccc;
                border-radius: var(--border-radius-20);
                font-size: var(--font-size-base);
                font-family: var(--work-sans);
                background-position: 16px 11px; 
                background-size: 20px 20px ;
                background-repeat: no-repeat;
                padding: 12px 20px 12px 40px

                

            }
            #username{
                    background-image: url(../../../../assets/icons/UserGrey.png);
            }
            #email{
                    background-image: url(../../../../assets/icons/EnvelopeSimpleGrey.png);
            }
            #password{
                    background-image: url(../../../../assets/icons/LockKeyGrey.png);
            }
            #confirmPassword{
                    background-image: url(../../../../assets/icons/LockKeyGrey.png);
            }
        }
    }
}