.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    // margin-top: 80px;
    background-color: var(--background-secondary);


    .FooterDetails{
        width: 80vw;
        padding-top: 40px;
        display: flex;
        justify-content: space-evenly;

        .FooterColList{
            display: flex;
            flex-direction: column;
            gap: 30px;

            h1{
                color: var(--text-color);
                font-family: var(--space-momo);
                font-size: var(--font-size-h5);
            }

            .FooterLogo{
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
        
                
        
                img{
                    filter: var(--filter-white-to-action-color);
                    width: 32px;
                    height: 32px;
                }

            }

            li{
                color: var(--ccc-color);
                font-family: var(--work-sans);
                font-size: var(--font-size-base);

                form{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            input{
                                outline: none;
                                width: 250px;
                                height: 60px;
                                border-radius: var(--border-radius-20);
                                border: 0px;
                                &::placeholder{
                                    padding-left: 20px;
                                    color: var(--background);
                                    font-size: var(--font-size-base);
                                    font-family: var(--work-sans);
                                }
                            }   
                            button{
                                transform: translateX(-50px);
                                @include ButtonWithImage(var(--call-to-action),
                                60px, 211px,   
                                12px, 20px, 20px, var(--font-size-base));
                            }
                        }
            }

            .FooterLinkList{
                display: flex;
                gap: 10px;
            }
        }
    }

    .FigmaTemplateText{
        display: flex;
        align-items: end;
        color: var(--ccc-color);
        font-family: var(--work-sans);
        font-size: var(--font-size-caption);
        width: 70%;
        height: 33px;
        border-top: 1px solid var(--ccc-color);
        transform: translateX(-30px);
        padding-bottom: 30px;
    }
}
